/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: "Poppins", sans-serif;
}


body {
    background-image: url('mount2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    overflow-y: hidden;
}

.header {
  display: flex;
 justify-content:center;
 text-align:center;
 min-height: 10vh;
 font-size: 1.5rem;
}

h1 {
  color: black;
  text-shadow: 1px 1px 2px rgb(243, 237, 154), 0 0 25px #B784A7, 0 0 5px rgb(170, 196, 243);
}

header

{   font-size: 1.5rem;
    color:black;
    min-height: 10vh;
    display:block;
    /* transform: translateX(200%); */
    display: flex;
    justify-content:center;
   text-align:center;
}

/* For Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #111111;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  /* background: #ccc;
  background: #63144f; */
  background: rgb(233, 221, 155);
  /* background: rgb(230, 92, 104);; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:#aaa;   
}

.container {
  position: relative;
  max-width: 480px;
  width: 100%;
  border-radius: 8px;
  padding: 25px;
  margin: 85px auto 0;
  background-color: transparent;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  transform: translateY(-78px);
  transform: translateY(-90px);
  padding-bottom: 0;
  

  /* height: 540px; */
}

.container .input-field {
  position:relative;
  height: 60px;
  width: 100%;
}

.custom-dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-header {
    background-color: #4070f4;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    z-index: 1;
  }
  
  .dropdown-option {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .dropdown-option:hover {
    background-color: #f0f0f0;
  }
  
  /* Show the dropdown content when the header is clicked */
  .custom-dropdown:hover .dropdown-content {
    display: block;
  }
  
.input-field textarea {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 18px;
  font-weight: 400;
  border-radius: 8px;
  padding: 18px 45px 18px 15px;
  border: 1px solid #ccc;
  resize: none;
  color: #111111;
  overflow:auto;
}

.input-field textarea:focus {
  border-color: #4070f4;
}

textarea::-webkit-scrollbar {
  display: none;
}

.input-field .note-icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  pointer-events: auto;
  font-size: 24px;
  color: #707070;

}
 .note-icon {
    cursor: pointer;
    transition:transform, 0.3s ease;
}

.note-icon::before{
    color:#4070f4
}

/* .note-icon::after{
    color: #e0cf6f;
} */
.note-icon.clicked {
    transform: rotate(180deg);
}


/* .input-field textarea:focus ~ .note-icon {
  color: #4070f4; 
} */

.container .todoLists {
  max-height: 380px;
  overflow-y: auto;
  padding-right: 10px;
}

.todoLists .list {
  display: flex;
  align-items: center;
  list-style: none;
  background-color: #dae9f1;
  /* background: rgb(233, 221, 155); */
  padding: 20px 15px;
  border-radius: 8px;
  margin-top: 10px;
  position: relative;
  cursor: pointer;
}


.todoLists .list.hovered {
  background-color: rgb(236, 137, 124);
  /* background-color: rgb(230, 92, 104); */
}

.todoLists .list input {
  height: 16px;
  min-width: 16px;
  accent-color: #4070f4;
  cursor: pointer;
  /* pointer-events: none; */

}

.todoLists .list .task {
  margin: 0 30px 0 15px;
 word-break: break-all;

}

.list input:checked ~ .task {
  text-decoration: line-through;
}

.todoLists .list i {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  font-size: 20px;
  color: #707070;
  padding: 5px;
  opacity: 0.6;
  display: inline-flex;

}

.todoLists .list:hover i {
  display: inline-flex;
}

.todoLists .list i:hover {
  opacity: 1;
  color: #111111;
}

.container .pending-tasks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
}

.pending-tasks span {
  color: #333;
}

.pending-tasks .clear-button {
  padding: 6px 12px;
  background: #4070f4;
  color: #fff;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transform: translateY(-30%);
}

.clear-button:hover {
  background-color: #0e4bf1;
}



.clear-button:hover {
  background-color: #0e4bf1;
}

@media screen and (max-width: 350px) {
  .container {
    padding: 25px 10px;
  }

}
@media screen and (max-width: 1024px){
  .container {
    transform: translateY(-100px);
  }
}
 /* .filter-todo {
  overflow: hidden;
  top:auto;
  bottom: 100%;
}  */

/* media screen and (max-width:1024){
  .filter-todo{
     width: 3px;
    height: 1px;
  }

}  

*/

 .notification {
    /* box-sizing:border-box;
    /* text-align: center; */
    /* left: 50% ; */
    /* top: 20px; */
    /* transform: translateX(-50%);  */
    /* color: #fff; */ 
    padding: 8px;
    min-width: 300px;
    /* min-height: 100%; */
    right:0px;
    /* bottom: 0px; */
    top:596px;
    border-radius: 4px;
    /* border-left: 4px solid #fff; */
    font-size: 18px;
    position:absolute;
    /* z-index: 1000; */
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); */
    /* transition: opacity 0.5s ease-in-out; */
    
} 
   

/* .notification {
  padding: 1px;
  min-width: 200px;
  right: 50%;
  bottom: 20px;
  transform: translateX(50%);
  border-radius: 8px;
  height:auto;
  font-size: 16px;
  position: fixed;
  z-index: 1000;
  /* background-color: #333; */
  /* color: #fff;
  text-align: center;
  justify-content: center; */
  /* opacity: 0; */
  /* transition: opacity 0.5s ease-in-out; */
/* } */

/* @media screen and (max-width: 768px) {
  .notification {
      width: 90%;
      max-width: 300px;
      bottom: 10px;
      right: 50%;
      transform: translateX(50%);
  }
} */


 

.success {
    background-color:  #ced8f3;
    background-color:  #bdeba8;
    background-image: linear-gradient(to right,#7cebaa,#b0eeb9);
    background-image: linear-gradient(to right, #DECBA4, #3E5151);
    /* background-image: linear-gradient(to right, #ff6e7f, #bfe9ff); */
    background-image: linear-gradient(to right, #00b09b, #96c93d);

}
.danger {
    background-color:  #bdeba8;
    background-image: linear-gradient(to right, #D1BAD2, #2884B8);
  } 
   
/*   confirmation  */
.confirmation-dialog {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
  }
  
  .confirmation-content {
    background: #ebe1c5 ;
    background-image: linear-gradient(to right, #E8807F,#E6C84F);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
    width: 100%;
    overflow-y:auto;
    word-wrap: break-word;
  }
  
  .confirmation-content p {
    margin-bottom: 15px;
    max-height: 150px;
    
  }
  
  .confirmation-content button {
    margin: 0 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .confirmation-content #confirmButton {
    background-color: #6283f0;
    color: #fff;
  }
  
  .confirmation-content #cancelButton {
    background-color: #6283f0;
    color: #fff;
  }
    
  
  

  @media only screen and (max-width: 410px) and (min-width: 390px){
    .container{
      width:90%;
      transform:translateY(7px);
    }

    .header{
      transform:translateY(73px);
    }

    .notification{
      top:0px;
    }
  }

  @media only screen and (max-width: 412px) and (min-width: 400px){
    .container{
      width:90%;
      transform:translateY(8px);
    }

    .header{
      transform:translateY(83px);
    }
  }

  .notification{
    transform:translateY(260px);
  }

  
  @media only screen and (max-width: 425px) and (min-width: 413px){
    .container{
      width:90%;
      transform:translateY(10px);
    }

    .header{
      transform: translateY(70px);
    }

    .notification{
        top:-240px;
    }
  }

  


   @media only screen and (max-width:390px) and (max-height:844px){
    .notification{
      transform:translateY(15px);
    }
   }

   @media only screen and (max-width:540px) and (max-height:720px){
    .notification{
      transform:translateY(3px);
    }
   }

  @media only screen and (max-width:280px) and (max-height:653px){
    .notification{
      transform:translateY(-11px);
      transform:translateX(18px);
    }
  }

  @media only screen and (max-width:1024px) and (max-height:600px){
    .notification{
      transform:translateY(-595px);
    }
  }

  @media only screen and (min-width:1280px) {
    .notification{
      transform:translateY(150px);
    }
  }


  @media only screen and (min-width:1300px){
    .notification{
      transform:translateY(-50px);
    }
  }

  @media only screen and (max-width:430px) and (max-height:932px){
    .container{
      transform:translateY(-10px);
      width:90%
    }
    .header{
      transform:translateY(70px)
    }
  }

/* here we start now : */
  @media only screen and (max-width:375px) and (max-height:740px){
    .header{
      transform:translateY(10px);
    }
    .container{
      transform:translateY(-70px)
    }
    .notification{
      transform:translateY(10px);
    }
    .container .todoLists {
      max-height: 330px;
    }
  }

@media only screen and (max-width:440px) and (max-height:940px){
  .container .todoLists {
    max-height: 570px;
  }
  .header{
    transform:translateY(16px)
  }
  .container{
    transform:translateY(-80px);
  }
}
  